/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282828;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
    height: 100%;
}

.container {
    margin: 20px 150px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
  
}

/* header */

header {
    height: 50px;
    padding: 10px 20px;
    background-color: #3a546d;
    display: flex;
    justify-content: space-between;
}

header img {
  border-radius: 50%;
}

/* main */ 

.cards-container {
  background-color: #3a546d;
  margin: 10px 0 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* card */

.card {
    display: flex;
    flex-direction: column;
    background-color: #3a546d;
    padding: 15px;
    margin: 10px 10px;
    height: 350px;
}

.single-card {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.single-card img {
  object-fit: cover;
  object-position: center;
  height: 140px;
  width: 130px;
}

.single-card h2,
.single-card h4 {
  text-align: center;
  background-color: #3a546d;
}

.single-card h2 {
  color: white;
  margin: 15px 0;
}

.single-card h4 {
  color: grey;
  font-weight: 400;
}